<form [formGroup]='registration' (ngSubmit)='register()'>
  <div class='form-group'>
    <label for='fullName'> Full Name: </label>
    <input type='text' id='fullName' formControlName='fullname' name='fullName' placeholder='Your full name'>
    <!-- Form validation errors for full name -->
    <p class='error' *ngIf="fullname.invalid && fullname.dirty"> Full name is required </p>
    <!-- End -->
  </div>
  <div class='form-group'>
    <label for='email'> Email Address: </label>
    <input type='email' formControlName='email' name='email' placeholder='Your email address'>
    <!-- Form validation errors for email -->
    <p class='error' *ngIf="email.invalid && email.dirty"> Email is required </p>
    <!-- End -->
  </div>
  <div class='form-group'>
    <label for='password'> Password: </label>
    <input type='password' formControlName='password' name='password' placeholder='Your password'>
    <!-- Form validation errors for password -->
    <div class='form-control-feedback' *ngIf='password.errors && (password.dirty || password.touched)'>
      <p class='error' *ngIf="password.errors.required"> Password is required </p>
      <p class='error' *ngIf="password.errors.minlength"> Password must be 5 characters minimum </p>
    </div>
    <!-- End -->
  </div>
  <div class='form-group'>
    <label for='confirmPassword'> Confirm Password: </label>
    <input type='password' formControlName='confirmPassword' name='confirmPassword' placeholder='Confirm password'>
    <!-- Form validation errors for confirming password -->
    <p class='error' *ngIf="confirmPassword.errors.required && confirmPassword.dirty"> Password confirmation required </p>
    <!-- End -->
  </div>
  <button type='submit' id='submitButton'> Register </button>
</form>
